<!-- /.modal -->
{% load static %}
<style>
    .ui-datepicker {
      z-index: 1600 !important; /* has to be larger than 1050 */
    }
    .type-msg{
        width: auto;
    }
    #add{
        border-radius: 0 15px 15px 0 !important;
        background-color: rgb(0, 165, 255) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }
   .comment-box .comment-author{
        background: #03658c;
        color: #FFF;
        font-size: 12px;
        padding: 3px 5px;
        font-weight: 700;
        margin-left: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
   .comment-box .comment-footer{
       text-transform: capitalize;
       color: rgba(90,90,90,0.4);
       font-size: 10px;
       background: #FFFFFF;
       padding: 12px;
   }
   .comment-footer > div {
      display: flex;
      /*font-family: "Courier New", "Lucida Console", monospace;*/
   }
   .modal-footer{
    padding: 0px;
   }
   .modal-content{
       box-shadow: 2px 2px 12px 3px rgba(3, 101, 140, 0.5);
   }
</style>
      <div class="modal fade" id="modal-comments" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ customer }}/ {{ driver }} (Notes)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding-right: 5%; background: #dee1e3;">
                    <div id="comments" class="comments-container">
                        <ul id="comments-list" class="comments-list">
                            {% for comment in comments %}
                            <li>
                                <div class="comment-main-level">
                                    <div class="comment-avatar">
                                        <img src="/media/{{ comment.created_by.avatar }}" alt="">
                                    </div>
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <input id="idnote"  type="number" readonly value="{{ comment.id }}" hidden>
                                            <h6 class="comment-name comment-author text">{{ comment.created_by.fullname | upper }}</h6>
                                            {% if comment.created_by.id == request.user.id %}
                                                <i class="fa fa-pencil edit"></i>
                                            {% endif %}
                                        </div>
                                        <div class="comment-content">
                                            <div class="comment-text input-group" id="{{ comment.id }}">
                                                    {{ comment.comment | linebreaks }}
                                            </div>
                                            <div class="button"></div>
                                        </div>
                                        <div class="comment-footer justify-content-between">
                                            <div class="row">
                                                <div class="col">Created: {{ comment.created_at | date:'b d,Y H:i'}}</div>
                                                <div class="col-4"></div>
                                                <div class="col date-update">
                                                    {% if comment.updated_at %}
                                                        Updated: {{ comment.updated_at | date:'b d,Y H:i'}}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <form id="comment" method="post">
                    <div class="modal-footer">
                        {% csrf_token %}
                        <div class="input-group">
                            <textarea id="message" rows="1" name="comment" placeholder="Comment..." class="form-control form-control-sm type-msg" required/>
                            {% comment %} <input type="text" value="{{ created_at }}" hidden> {% endcomment %}
                            <input type="text" name="created_by" value="{{ created_by }}" hidden>
                            <input type="text" name="detail_random_list" value="{{ detail_random_list }}" hidden>
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-outline-pink btn-primary" id="add">
                                     <i class="fas fa-location-arrow"></i>&nbsp;Send
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
<!-- /.modal -->
<script type="text/javascript">
    $("form").submit(function(e){
        e.preventDefault();
        let form = $(this).serialize();
        let url = "/CallLists/comments-random-test/{{detail_random_list}}/";
        let data = RequestPost_data(form, url);
        new_comment(data);
    });
    $('.edit').on('click', function (e) {
        addbuttons($(this));
    });
    function addbuttons(element){
        var idnote = element.parent('div.comment-head').find('#idnote');
        var text_comment = element.parent('div.comment-head').parent('div.comment-box').find('.comment-content');
        $.get('/CallLists/comment-random-test/'+idnote.val(),{}, function(response){
            var comment_html = "<textarea id='comment-message' class='form-control form-control-sm type-msg'>"+response.comment+"</textarea>";
            var new_comment = text_comment.find('.comment-text').html(comment_html);
            text_comment.find('div.button').html("<div class='row justify-content-end'>" +
                "<button type='button' class='save btn btn-sm btn-pill btn-success' onclick='edit("+idnote.val()+")'><i class='fa fa-check'></i></button>" +
                "<button class='btn btn-sm btn-pill btn-danger' onclick='cancel("+idnote.val()+")'>X</button>" +
                "</div>");
        });
    };

    function cancel(idnote) {
        var comment_msg = $('#comment-message').val();
        $('#'+idnote).html(comment_msg.replace('\n','</br>'));
        $('#'+idnote).parent('div.comment-content').find('div.button').html('');
    }

    function updateNoteCell(detailId, noteText, noteDate, totalComments) {
        if (!detailId) return;
        var cell = $('#btn-notes-' + detailId).closest('td');
        var html = "<div class='small text-muted mt-1' style='max-width:180px; text-overflow:ellipsis; white-space:nowrap;'>";
        html += noteText ? noteText : '';
        html += noteDate ? ' (' + noteDate + ')' : '';
        html += "&nbsp;<button id='btn-notes-" + detailId + "' class='btn btn-sm btn-pill p-1 btn-success btn-note' type='button' data-toggle='modal' data-target='#noteModal' value='" + detailId + "'>";
        html += "<i class='fa fa-sm fa-plus'></i></button>";
        if (totalComments) {
            html += " <span class='badge badge-pill bg-danger'>" + totalComments + "</span>";
        }
        html += "</div>";
        cell.html(html);
    }

    function edit(idnote){
        var comment_msg = $('#comment-message').val();
        var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
        $.ajax({
            url:'/CallLists/comment-random-test/',
            dataType: 'JSON',
            contentType: 'application/json',
            data:JSON.stringify({'comment':comment_msg, 'id': idnote}),
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            type:'PATCH',
            beforeSend: function (){
                HoldOn.open('Processing...');
            },
            success:function (response, status){
                HoldOn.close();
                $('#'+idnote).html(response.data.comment.replace('\n','</br>'));
                $('#'+idnote).parent('div.comment-content').find('div.button').html('');
                $('#'+idnote).parent('div.comment-content').parent('div.comment-box').find('div.date-update').html('Updated: '+response.data.date_update);

                var detailRandomId = response.data.detail_random_list_id || $('#comment input[name="detail_random_list"]').val();
                updateNoteCell(detailRandomId, response.data.comment, response.data.date_update);
            }
        });
    }
    function new_comment(data) {
        var html = "<li>"
                       +"<div class='comment-main-level'>"
                         +"<div class='comment-avatar'>"
                            +"<img src='/media/"+data.avatar+"' alt=''>"
                         +"</div>"
                         +"<div class='comment-box'>"
                            +"<div class='comment-head'>"
                                +"<input id='idnote'  type='number' readonly value='"+data.id+"' hidden>"
                                +"<h6 class='comment-name by-author'>"+data.user+"</h6>"
                                +"<i class='fa fa-pencil edit' onclick='addbuttons($(this));'></i>"
                            +"</div>"
                            +"<div class='comment-content'>"
                                +"<div id='"+data.id+"' class='comment-text input-group'>"+ data.comment.replace('\n', '<br>') + "</div>"
                                +"<div class='button'></div>"
                            +"</div>"
                            +"<div class='comment-footer justify-content-between'>"
                                +"<div class='row'>"
                                    +"<div class='col'>Created: "+data.created_at+"</div>"
                                    +"<div class='col-4'></div>"
                                    +"<div class='col date-update'></div>"
                                +"</div>"
                            +"</div>"
                         +"</div>"
                       +"</div>"
                    +"</li>";
        $("#comments-list").append(html);
        $("#comment")[0].reset();
        if(data.total_comments > 0){
            updateNoteCell(data.detail_random_list_id, data.comment, data.created_at, data.total_comments);
        }
        //location.reload();
    }
</script>
