{% extends 'base.html' %}
{% block title-page %}Credits{% endblock %}
{% load static %}
{% block style %}
    <style>
        .dt-buttons{
            float: inline-start;
        }
    </style>
{% endblock %}
{% block index %} {% endblock %}
{% block accounting %}active{% endblock %}
{% block credits %}active{% endblock %}
{% block container-fluid %}
	<div class="row">
		<div class="col-md-12">
			<div class="card card-info">
				<div class="card-header">
					<div class="card-title">
						Credits Aproved
					</div>
				</div>
				<div class="card-body">
                    <form class="form-control form-inline" method="post" role="form" id="frmUpdate">
                        {% csrf_token %}
                        <div class="input-group">
                            <div class="form-text">
                                <label class="form-label" for="status">Status:</label>
                            </div>
                            <select name="status" class="form-select form-select-sm" id="status">
                                {% for status in status_p %}
                                    <option value="{{ status }}">{{ status }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="dt-buttons">
                            <input class="btn btn-sm btn-pill btn-primary" id="btnSave" type="submit" value="Save">
                        </div>
                    </form>
                    <div class="hr-text"></div>
					<table id="tblcredits" class="table table-bordered table-striped">
						<thead style="background: rgb(5,78,102);">
							<tr>
                                <th>&nbsp;</th>
								<th style="color: rgba(255,255,255,1); font-weight: bold; text-align: center;">Id</th>
								<th style="color: rgba(255,255,255,1); font-weight: bold; text-align: center;">Customer</th>
								<th style="color: rgba(255,255,255,1); font-weight: bold; text-align: center;">Invoice</th>
								<th style="color: rgba(255,255,255,1); font-weight: bold; text-align: center;">Date</th>
								<th style="color: rgba(255,255,255,1); font-weight: bold; text-align: center;">Aproved</th>
                                <th style="color: rgba(255,255,255,1); font-weight: bold; text-align: center;">Credit</th>
                                <th style="color: rgba(255,255,255,1); font-weight: bold; text-align: center;">Comments</th>
                                <th style="color: rgba(255,255,255,1); font-weight: bold; text-align: center;">Status</th>
                            </tr>
						</thead>
						<tbody>
							{% for credit in credits %}
								<tr>
                                    <td><input class="form-check-input" type="checkbox" name="idcredit" id="{{ credit.idcredit }}" value="{{ credit.idcredit }}"></td>
									<td> {{ credit.idcredit }} </td>
									<td> {{ credit.idcustomer_id }}-{{ credit.cusname }} </td>
									<td> {{ credit.idinvoice_id }} </td>
									<td> {{ credit.date | date:'m/d/Y'}} </td>
									<td> {{ credit.aproved }} </td>
                                    <td> {{ credit.credit }} </td>
                                    <td> {{ credit.comment}} </td>
                                    <td> {{ credit.status}} </td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{%endblock%}
{% block script %}
<script type="text/javascript" src="{% static '/site/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/plugins/jszip/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'site/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'site/plugins/datatables-buttons/js/buttons.print.js' %}"></script>
<script type="text/javascript" src="{% static 'site/plugins/monthpicker/MonthPicker.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    let text = {% if showAll %} 'Unpaid' {% else %} 'Show All' {% endif %};
    let isShow = {% if showAll %} 0 {% else %} 1 {% endif %};
    let table = $('#tblcredits').DataTable({
        order: [[ 1, "desc" ]],
        orderCellsTop: true,
        buttons: [
        		{ text: '<i class="fa fa-files-o"></i>', className:'btn btn-secondary', extend: 'copyHtml5', titleAttr: 'Copy', footer:true},
                    { text: '<i class="fa fa-print"></i>', className:'btn btn-light', extend: 'print', titleAttr: 'Print', footer:true},
                    { text: '<i class="fa fa-file-excel-o"></i>', className:'btn btn-success', extend: 'excelHtml5', titleAttr: 'Excel', footer:true},
                    { text: '<i class="fa fa-file-pdf-o"></i>', className:'btn btn-danger', extend: 'pdfHtml5', titleAttr: 'PDF', footer:true},
                    { text: '<i class="fa fa-file-text-o"></i>', className:'btn btn-success', extend: 'csvHtml5', titleAttr: 'CSV', footer:true},
					{
						text: text,
						className: 'btn btn-sm btn-info',
						action: function ( e, dt, node, config ) {
							location.href = '/Procedure/credits/'+isShow;
						}
					}
        ],
        columnDefs: [
            { "orderable": false, "targets": 0 }
        ]
    });
    table.buttons().container().prependTo('#tblcredits_wrapper .col-md-6:eq(1)' );
    $('#frmUpdate').on('submit',function (e) {
        e.preventDefault();
        var url = '/Procedure/paid_credit/';
        var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
        var idcredits = [];
        $('#tblcredits').find('input[type="checkbox"]:checked').each(function (index, element) {
            idcredits.push($(this).val());
        });
        if(idcredits.length !== 0){
            var data = {'idcredits[]':idcredits, 'status': $("#status").val(), 'csrfmiddlewaretoken': csrf_token};
            HoldOn.open({ message: "Please wait"});
            $.post(url, data, function (response) {
                HoldOn.close();
                notification(response.message.description, response.message.type);
                change_data(table,response.data);
            }, 'json').fail(function (response) {
                var message= response.responseJSON.message;
                notification(message.description, message.type);
            });
        }else{
            HoldOn.close();
            notification("You have not selected anything", 'warning');
        }
    });
});
function change_data(table,list) {
    list.forEach(function (data){
        var indexes = table.rows().indexes().filter(function(values, indexes){
            var idcredit = parseInt(table.cell(values,1).data());
            if(idcredit === data.id){
                var input = table.cell(values,1).data();
                $('#'+input).prop('checked', false);
                table.cell(values,8).data(data.status).draw();
                 return true;
            }else {
                return false;
            }
        });
        table.rows( indexes )
        .nodes()
        .to$()
        .css('color', 'red').animate( { color: 'black' }, 2000 );
    });
}
</script>
{% endblock %}