{% extends 'base.html' %}
{% block title-page %}Daily Chart{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'site/plugins/monthpicker/MonthPicker.css' %}">
{% endblock %}
{% block index %} {% endblock %}
{% block accounting %}active{% endblock %}
{% block daily_chart %}active{% endblock %}
{% block container-fluid %}
    <style>
        table{
            table-layout: fixed;
            word-wrap:break-word;
        }
    </style>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Balance Basic
                </h3>
            </div>
            <div class="card-body">
                <form id="frmDaily">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-1">
                            <label class="form-label col-form-label" for="customer">Customer:</label>
                        </div>
                        <div class="col-2">
                            <select id="customers" name="customers" class="form-select form-select-sm">
                                <option value="0" selected>All Customers</option>
                                {% for customer in customers %}
                                    <option value="{{ customer.idcustomer }}"> {{ customer.idcustomer }}-{{ customer.cusname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-1">
                            <label class="form-label col-form-label" for="sldate">Date By:</label>
                        </div>
                        <div class="col-2">
                            <select id="sldate" name="sldate" class="form-select form-select-sm">
                                <option value="0">--Select--</option>
                                <option value="1">By Date Range</option>
                                <option value="2">By Month</option>
                                <option value="3">By Year</option>
                            </select>
                        </div>
                        <div id="cl_date" class="col-3" style="display:none;">
                            <div class="input-group">
                                <label class="col-form-label" for="date">From:</label>
                                <span class="input-group-text">
                                    <li class="fa fa-calendar-o"></li>
                                </span>
                                <input id="date" type="text" name="date" class="form-control form-control-sm datepicker">
                            </div>
                        </div>
                        <div id="cl_date_second" class="col-sm-2" style="display: none;">
                            <div class="input-group">
                                <label class="col-form-label" for="date">To:</label>
                                <span class="input-group-text">
                                    <li class="fa fa-calendar-o"></li>
                                </span>
                                <input id="date_second" type="text" name="second_date" class="form-control form-control-sm datepicker">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button id="btnSearch" class="btn btn-pill btn-outline-warning"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <div class="hr"></div>
                <table id="tbBalanceBasic" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>No. Inv</th>
                        <th width="60px;">Customer</th>
                        <th>Inv Date</th>
                        <th >Type Paid</th>
                        <th width="150px;">Comment</th>
                        <th>Amount</th>
                        <th>Paid</th>
                        <th>Due</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot style="background: #0c85d0; color: white; text-align: end">
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td class="150px;">
                                <label class="form-label">Total:</label>
                                <label class="form-label ">Check:</label>
                                <label class="form-label ">Cash:</label>
                                <label class="form-label ">Credit Card:</label>
                                <label class="form-label ">Zelle:</label>
                            </td>
                            <td>
                                <label id="total_amount" class="form-label"></label>
                                <label id="check" class="form-label"></label>
                                <label id="cash" class="form-label"></label>
                                <label id="credit_card" class="form-label"></label>
                                <label id="zelle" class="form-label"></label>
                            </td>
                            <td>
                                <label id="total_paid" class="form-label"></label>
                                <label class="form-label">&nbsp;</label>
                                <label class="form-label">&nbsp;</label>
                                <label class="form-label">&nbsp;</label>
                                <label class="form-label">&nbsp;</label>
                            </td>
                            <td>
                                <label id="total_due" class="form-label"></label>
                                <label class="form-label">&nbsp;</label>
                                <label class="form-label">&nbsp;</label>
                                <label class="form-label">&nbsp;</label>
                                <label class="form-label">&nbsp;</label>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'site/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/plugins/jszip/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/plugins/datatables-buttons/js/buttons.print.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/plugins/monthpicker/MonthPicker.js' %}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('#customers').chosen({
                inherit_select_classes:true,
            });
            $('#sldate').on('change click', function () {
                $('#date').val('');
                $('#date').MonthPicker();
                $('#date').MonthPicker('destroy');
                $("#date").datepicker("destroy");
                switch ($(this).val()) {
                    case '1':
                        $('#cl_date').show();
                        $('#cl_date_second').show();
                        initDatepicker();
                        break;
                    case '2':
                        $('#cl_date').show();
                        $('#cl_date_second').hide();
                        $('#date').val(currMonth+'/'+ currYear);
                        $('#date').MonthPicker({ ShowIcon: false });
                        break;
                    case '3':
                        $('#cl_date').show();
                        $('#cl_date_second').hide();
                        $('#date').val(currYear);
                        $('#date').show();
                        break;
                    default:
                        $('#cl_date').hide();
                        $('#cl_date_second').hide();
                        $('#sldate').val(0);
                }
            });
            let table = $('#tbBalanceBasic').DataTable({
                dom: '<"#buttons.row row-cards justify-content-between"lfB><tr><ip>',
                processing: true,
                serverSide: false,
                length:10,
                buttons: [
                    { text: '<i class="fa fa-files-o"></i>', className:'btn btn-secondary', extend: 'copyHtml5', titleAttr: 'Copy', footer:true},
                    //{ text: '<i class="fa fa-print"></i>', className:'btn btn-light', extend: 'print', titleAttr: 'Print', footer:true},
                    { text: '<i class="fa fa-file-excel-o"></i>', className:'btn btn-success', extend: 'excelHtml5', titleAttr: 'Excel', footer:true},
                    { text: '<i class="fa fa-file-pdf-o"></i>', className:'btn btn-danger', extend: 'pdfHtml5', titleAttr: 'PDF', pageSize:'LEGAL', download: 'open',
                        customize: function(doc) {
                            doc.pageMargins = [10,10,10,10];
                            doc.content[1].table.widths = ['5%', '20%', 'auto', '5%', '20%', 'auto', 'auto', 'auto'];
                            doc.styles.title = { color: 'black', fontSize: '12', alignment: 'center', bold: true };
                            doc.defaultStyle.fontSize = 9;
                            doc.content[1].table.headerRows = 0;

                        },
                        exportOptions: {
                            columns: [0,1,2,3,4,5,6,7]
                            },
                        footer:true
                    },
                    { text: '<i class="fa fa-file-text-o"></i>', className:'btn btn-success', extend: 'csvHtml5', titleAttr: 'CSV', footer:true},
                    {
                        text: 'Action', className:'btn btn-info',
                        action: function ( e, dt, node, config ) {
                            if(dt.column(8).visible()){
                                dt.column(8).visible(false);
                            }else{
                                dt.column(8).visible(true);
                            }
                            dt.columns.adjust();
                        }
                    }
                ],
                ajax:{
                    url:'/Procedure/daily_chart/',
                    type:'POST',
                    dataType: 'JSON',
                    cache: true,
                    data: function (d) {
                        d.csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
                        d.customers = $('#customers').val();
                        d.sldate = $('#sldate').val();
                        d.date = $('#date').val();
                        d.second_date = $('#date_second').val();
                    },
                    dataSrc:'data'
                },
                deferRender: true,
                columns:[
                    {'data': 'id'},
                    {'data': 'customer'},
                    {'data': 'paid_date'},
                    {'data': 'typepaid'},
                    {'data': 'comment'},
                    {'data': 'invamount', render: function (data, type, row) {
                        return data.toFixed(2);
                    }},
                    {'data': 'paid', render: function (data, type, row) {
                        return data.toFixed(2);
                    }},
                    {'data': 'invdeu', render: function (data, type, row) {
                        return data.toFixed(2);
                    }},
                    {'data': 'action'}
                ],
                footerCallback: function (tfoot, data, start, end, display) {
                    var response = this.api().ajax.json();
                    if(response){
                        $('#total_amount').html("$ "+parseFloat(response.total_amount ? response.total_amount : 0).toFixed(2));
                        $('#total_paid').html("$ "+parseFloat(response.total_paid ? response.total_paid : 0).toFixed(2));
                        $('#total_due').html("$ "+parseFloat(response.total_due ? response.total_due : 0).toFixed(2));
                        $('#cash').html("$ "+parseFloat(response.cash ? response.cash : 0).toFixed(2));
                        $('#check').html("$ "+parseFloat(response.checks ? response.checks : 0).toFixed(2));
                        $('#credit_card').html("$ "+parseFloat(response.credit_card ? response.credit_card : 0).toFixed(2));
                        $('#zelle').html("$ "+parseFloat(response.zelle ? response.zelle : 0).toFixed(2));
                    }
                }
            });
            $('#btnSearch').on('click', function (e) {
                e.preventDefault();
                table.ajax.reload();
            });
        });


        var d = new Date();
        var currMonth = (d.getMonth()+1) < 10 ? '0'+(d.getMonth()+1) : (d.getMonth()+1);
        var currYear = d.getFullYear();
        var startDate = currMonth+'/'+'01/'+currYear;
        $('#sldate').val(0);
        function initDatepicker (){
            $('.datepicker').val(startDate);
            $('.datepicker').datepicker({
                dateFormat: 'mm/dd/yy',
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                setDate: startDate
            });
        }

    </script>
{% endblock %}