<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
</head>
<body>
    <table style="margin-left: auto; margin-right: auto; border: none; border-collapse: collapse;">
        <tbody>
            <tr>
                <td colspan="2" style="text-align: center"><h2 style="color:#0a66c2">Thank you for choosing us and we are at your service.</h2></td>
            </tr>
            <tr>
                <td colspan="2" style="font-weight: bold; color:#0a66c2; text-align: justify; width: 700px;">
                    We don’t just provide consultation and forget about you.
                    We make sure your drivers and vehicles are up to par with government regulations. You focus on the logistics, we manage your safety.
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold; color: #0a66c2; padding-top: 15px; font-size: 14pt;">We can also help you with:</td>
            </tr>
            <tr>
                <td style="padding-top:10px; font-weight: bold;">DOT Management and Compliance Services:</td>
                <td style="padding-top:10px; font-weight: bold;">Permitting Services:</td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <ul>
                        <li>Assignment of a Safety Manager</li>
                        <li>Drug and Alcohol Management</li>
                        <li>Driver & Vehicle Qualification Services</li>
                        <li>Initial Safety Audit Assistance, as well as ongoing</li>
                        <li>Logs Auditing and Reporting</li>
                        <li>Clearinghouse</li>
                    </ul>
                </td>
                <td style="vertical-align: top;">
                    <ul>
                        <li>MC and DOT Authorities Updates</li>
                        <li>Agents of Process Filings</li>
                        <li>UCR Registrations</li>
                        <li>State Specific Permits (such as NY, NM, KYU, OR, NJ)</li>
                        <li>IRP and Local Tag Services</li>
                        <li>IFTA Permitting</li>
                        <li>Fuel Tax Filing and Processing</li>
                        <li>Overweight / Oversize Permits </li>
                        <li>Truck Tires</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <table style="font-size: medium; font-family: Arial; margin-left: auto; margin-right: auto;" class="sc-gPEVay eQYmiW" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <table style="font-size: medium; font-family: Arial;" class="sc-gPEVay eQYmiW" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: middle;" width="150"><span style="margin-right: 20px; display: block;" class="sc-kgAjT cuzzPp">
                                                    <!--<img src="https://drive.google.com/uc?id=173xA7UkpXTqQVDaxXvYGD0cbP8leIyYw" role="presentation" style="max-width: 180px;" class="sc-cHGsZl bHiaRe" width="180"></span></td><td style="vertical-align: middle;">-->
                                                    <img src="cid:dss.png" role="presentation" style="max-width: 180px;" class="sc-cHGsZl bHiaRe" width="180"></span></td><td style="vertical-align: middle;">
                                                    </td>
                                                    <td color="#f27054" direction="vertical" style="width: 1px; border-bottom: medium none; border-left: 1px solid rgb(242, 112, 84);" class="sc-jhAzac hmXDXQ" width="1"></td>
                                                    <td width="30"><div style="width: 30px;"></div></td>
                                                    <td style="vertical-align: middle;">
                                                        <table style="font-size: medium; font-family: Arial;" class="sc-gPEVay eQYmiW" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr style="vertical-align: middle;" height="25"><td style="vertical-align: middle;" width="30">
                                                                    <table style="font-size: medium; font-family: Arial;" class="sc-gPEVay eQYmiW" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="vertical-align: bottom;">
                                                                                    <span color="#f27054" width="11" style="display: block; background-color: rgb(242, 112, 84);" class="sc-jlyJG bbyJzT"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png" color="#f27054" style="display: block; background-color: rgb(242, 112, 84);" class="sc-iRbamj blSEcj" width="13"></span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td style="padding: 0px; color: rgb(0, 0, 0);">
                                                                    <a href="tel:+1 (239) 443-5846" color="#000000" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;" class="sc-gipzik iyhjGb">
                                                                        <span>+1 (239) 443-5846</span>
                                                                    </a> | <a href="https://api.whatsapp.com/send?phone=12398870083" color="#000000" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;" class="sc-gipzik iyhjGb"><img src="cid:whatsapp_logo.png" width="18px"/><span>+1 (239) 887-0083</span></a>
                                                                </td>
                                                            </tr>
                                                            <tr style="vertical-align: middle;" height="25">
                                                                <td style="vertical-align: middle;" width="30">
                                                                    <table style="font-size: medium; font-family: Arial;" class="sc-gPEVay eQYmiW" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="vertical-align: bottom;">
                                                                                    <span color="#f27054" width="11" style="display: block; background-color: rgb(242, 112, 84);" class="sc-jlyJG bbyJzT">
                                                                                        <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png" color="#f27054" style="display: block; background-color: rgb(242, 112, 84);" class="sc-iRbamj blSEcj" width="13">
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td style="padding: 0px;">
                                                                    <a href="mailto:info@directsolutionservices.com" color="#000000" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;" class="sc-gipzik iyhjGb">
                                                                        <span>info@directsolutionservices.com</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr style="vertical-align: middle;" height="25">
                                                                <td style="vertical-align: middle;" width="30">
                                                                    <table style="font-size: medium; font-family: Arial;" class="sc-gPEVay eQYmiW" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="vertical-align: bottom;">
                                                                                    <span color="#f27054" width="11" style="display: block; background-color: rgb(242, 112, 84);" class="sc-jlyJG bbyJzT">
                                                                                        <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png" color="#f27054" style="display: block; background-color: rgb(242, 112, 84);" class="sc-iRbamj blSEcj" width="13">
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td style="padding: 0px;">
                                                                    <a href="//www.directsolutionservices.com" color="#000000" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;" class="sc-gipzik iyhjGb">
                                                                        <span>www.directsolutionservices.com</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr style="vertical-align: middle;" height="25">
                                                                <td style="vertical-align: middle;" width="30">
                                                                    <table style="font-size: medium; font-family: Arial;" class="sc-gPEVay eQYmiW" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="vertical-align: bottom;">
                                                                                    <span color="#f27054" width="11" style="display: block; background-color: rgb(242, 112, 84);" class="sc-jlyJG bbyJzT">
                                                                                        <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/address-icon-2x.png" color="#f27054" style="display: block; background-color: rgb(242, 112, 84);" class="sc-iRbamj blSEcj" width="13">
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td style="padding: 0px;">
                                                                    <span color="#000000" style="font-size: 12px; color: rgb(0, 0, 0);" class="sc-csuQGl CQhxV">
                                                                        <span>1248 Viscaya Pkwy, 2B, Cape Coral, FL 33990</span>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="font-size: medium; font-family: Arial; width: 100%;" class="sc-gPEVay eQYmiW" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                            <tr>
                                                <td color="#f27054" direction="horizontal" style="width: 100%; border-bottom: 1px solid rgb(242, 112, 84); border-left: medium none; display: block;" class="sc-jhAzac hmXDXQ" height="1"></td>
                                            </tr>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="font-size: medium; font-family: Arial; width: 100%;" class="sc-gPEVay eQYmiW" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: top;"></td><td style="text-align: right; vertical-align: top;">
                                                    <table style="font-size: medium; font-family: Arial; display: inline-block;" class="sc-gPEVay eQYmiW" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr style="text-align: right;">
                                                                <td>
                                                                    <a href="https://www.facebook.com/directsolutionservicesllc" color="#6a78d1" style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);" class="sc-hzDkRC kpsoyz">
                                                                        <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/facebook-icon-2x.png" alt="facebook" color="#6a78d1" style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;" class="sc-bRBYWo ccSRck" height="24">
                                                                    </a>
                                                                </td>
                                                                <td width="5">
                                                                    <div></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>