<style>
    .ui-datepicker {
      z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>
<div class="modal modal-blur fade" id="modal-show" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bill Of Sale Interstate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="frm" role="form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-2"><h3 class="card-title">Customer:</h3></div>
                        <div class="col"><span class="text-danger"> {{ customer.idcustomer }} </span>- {{ customer.cusname }}</div>
                    </div>
                    <div class="hr-text hr-text-spaceless">&nbsp;</div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <label class="form-label inline_label">Unit:</label>
                                <select id='unit' name="unit" class="form-select form-select-sm">
                                    <option>--Select--</option>
                                    {%for unit in units %}
                                    <option value="{{unit.idunit}}">{{unit.vin}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <input id="vin" name="vin" hidden type="text">
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <label class="form-label custom-control-inline">Year:</label>
                                <input name="year" id="year" class="form-control form-control-sm" type="text" readonly>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <label class="form-label custom-control-inline">Make:</label>
                                <input name="make" id="make" class="form-control form-control-sm" type="text" readonly>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <label class="form-label custom-control-inline">Purchase Price:</label>
                                <input name="price" id="price" class="form-control form-control-sm" type="text" readonly>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-pill btn-danger" data-dismiss="modal">Cancel</button>
                <button id="showPDF" type="button" class="btn btn-pill btn-primary">View</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#unit').chosen({inherit_select_classes:true,});
    $('#unit').on('change click', function(){
        $.get('/Procedure/bill_sale_interstate/{{ customer.idcustomer }}', {unit:$(this).val()}, function (response) {
            $('#vin').val(response.vin);
            $('#make').val(response.make);
            $('#year').val(response.year);
            $('#price').val(response.price);
        });
    });
    $('#date').datepicker({
        dateFormat: 'mm/dd/yy',
        changeMonth: true,
        changeYear: true
    });
    post_showPDF('/Procedure/bill_sale_interstate/{{ customer.idcustomer }}', '#frm');
</script>