<style>
    .no-display{
        display: none;
    }
    .selectize-control, .validate_annual_report, .selectize, .single{
        background-color: #FFFFFF;
    }
    .selectize-input{
        width: 100%;
        background-color: #FFFFFF;
    }
</style>
<div class="modal modal-blur fade" id="modal-show" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ certificate_title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="frm" role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-sm-2 col-form-label">
                            <h3 class="card-title">Customer:</h3>
                        </div>
                        <div class="col-sm-10 col-form-label">
                            <span class="text-danger"> {{ customer.idcustomer }} </span>- {{ customer.cusname }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-label col-sm-4 col-form-label" for="agent">Owner:</label>
                        <div class="input-group col-sm">
                            <select id="owner" name="owner" class="form-select item form-control-sm" required="true">
                                <option>--Select--</option>
                                <option value="1">Company Name</option>
                                <option value="2">Owner Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-label col-form-label col-sm-4" for="unit">Unit:</label>
                        <div class="col-sm">
                            <select id="unit" name="unit" class="selectized form-select">
                                <option value="" selected>Select a unit</option>
                                {% for unit in units %}
                                    <option value="{{ unit.idunit }}">{{ unit.vin }} | {{ unit.type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-pill btn-danger" data-dismiss="modal">Cancel</button>
                <input type="submit" id="showPDF" class="btn btn-pill btn-primary" value="View" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#unit').selectize({
        create: false,
        sortField: "text",
    });
    post_showPDF('/Procedure/{{url}}/{{ customer.idcustomer }}', '#frm');
</script>