{% extends 'base.html' %}
{% load static %}
{% block title-page %}Open Links{% endblock %}
{% block index %}{% endblock %}
{% block file %}active{% endblock %}
{% block openlinks %}active{% endblock %}
{% block container-fluid %}
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-auto">
                <h2 class="page-title">Web Sites Links</h2>
            </div>
        </div>
    </div>
    <div class="row row-deck row-cards">
        <div class="col">
            <div class="card">
                <div class="card-status-top bg-yellow"></div>
                <div class="card-header">
                    <div class="card-title">Departament of State</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter">
                            <tbody>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FL LOGO.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://dos.myflorida.com/" target="_blank">State Florida</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SUNBIZ.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://dos.myflorida.com/sunbiz/" target="_blank">Florida Sunbiz</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SUNBIZ.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://search.sunbiz.org/Inquiry/CorporationSearch/ByName" target="_blank">Florida Search Company</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SUNBIZ.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://dos.sunbiz.org/ficinam.html" target="_blank">Florida Search DBA</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SUNBIZ.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://dos.myflorida.com/sunbiz/start-business/efile/fl-profit-corporation/" target="_blank">Florida New Corp</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SUNBIZ.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://dos.myflorida.com/sunbiz/start-business/efile/fl-llc/" target="_blank">Florida New LLC</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SUNBIZ.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://dos.myflorida.com/sunbiz/manage-business/efile/annual-report/" target="_blank">Florida Annual Report</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SUNBIZ.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://dos.myflorida.com/sunbiz/manage-business/efile/reinstatement/" target="_blank">Florida Reinsteiment</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SUNBIZ.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://dos.myflorida.com/sunbiz/manage-business/dissolve-withdraw-business/" target="_blank">Florida Dissolutions</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/OK LOGO.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.sos.ok.gov/corp/corpinquiryfind.aspx" target="_blank">Oklahoma State</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/TXLOGO.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://www.sos.state.tx.us/corp/index.shtml" target="_blank">Texas Taxabe Entity</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/ALLOGO.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://sos.alabama.gov/government-records/business-entity-records" target="_blank">Alabama Business</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/GALOGO.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://ecorp.sos.ga.gov/BusinessSearch" target="_blank">Georgia Business</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/AZLOGO.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://ecorp.azcc.gov/" target="_blank">Arizona E-CORP</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-status-top bg-yellow"></div>
                <div class="card-header">
                    <div class="card-title">Dept. Motor Vehicles</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter">
                            <tbody>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FL LOGO.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.flhsmv.gov/" target="_blank">Florida Highway Safety and MV</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FLDMV.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://www.flhsmv.gov/html/online.html" target="_blank">Florida Online Services</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FLDMV.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://services.flhsmv.gov/WebAdmin/Login.aspx" target="_blank">Florida Access IRP & IFTA</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FLDMV.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://services.flhsmv.gov/IRPInquiry/" target="_blank">Florida IRP Online Inquiry</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FL LOGO.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://services.flhsmv.gov/MVCheckWeb/" target="_blank">Florida VIN Check</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FL LOGO.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://services.flhsmv.gov/dlcheck/" target="_blank">Florida Driver License Check</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/TXDMV.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://www.txdmv.gov/motor-carriers/commercial-fleet-registration/apportioned-registration" target="_blank">Texas Home Page</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/TXIRP.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://irp.txdmv.gov/login.aspx?ReturnUrl=%2fDefault.aspx" target="_blank">Texas IRP Access</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/LEE.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.leetc.com/ncp/search_criteria.asp?searchtype=DMV" target="_blank">LEE County Tax Collector</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/DATA.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.add123.com/" target="_blank">All Sates Vin Check</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-status-top bg-yellow"></div>
                <div class="card-header">
                    <div class="card-title">Federal Motor Carrier</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter">
                            <tbody>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FMCSA.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.fmcsa.dot.gov/" target="_blank">FMCSA Home Page</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SAFER.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://safer.fmcsa.dot.gov/" target="_blank">SAFER</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FMCSA.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://li-public.fmcsa.dot.gov/LIVIEW/PKG_REGISTRATION.prc_option" target="_blank">Registration Options</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SAFER.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://safer.fmcsa.dot.gov/CompanySnapshot.aspx" target="_blank">Company Snapshot</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SAFER.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://safer.fmcsa.dot.gov/UCRQueryForm.aspx" target="_blank">UCR Information</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SAFER.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://li-public.fmcsa.dot.gov/LIVIEW/pkg_carrquery.prc_carrlist" target="_blank">DOT/MC</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FMCSA.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://safer.fmcsa.dot.gov/AutoPin/index.xhtml" target="_blank">Request PIN</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FMCSA.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://ask.fmcsa.dot.gov/" target="_blank">ASK US-DOT</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/PASCO.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://pasco.processagents.com/" target="_blank">PASCO BOC-3</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/UCR.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.ucr.gov/" target="_blank">UCR Registration</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-status-top bg-yellow"></div>
                <div class="card-header">
                    <div class="card-title">Permits</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter">
                            <tbody>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/KYU.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://onestop.ky.gov/Pages/default.aspx" target="_blank">Kentucky Home Page</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/KY.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://apps.transportation.ky.gov/MotorCarrierPortal/Home.aspx?clear" target="_blank">Kentucky Motor Carrier</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/NY.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://my.ny.gov/" target="_blank">New York Home Page</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/HUT.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.oscar.ny.gov/OSCR/OSCRCarrierHome" target="_blank">New York HUT Permit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/NM.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://www.newmexico.gov/" target="_blank">New Mexico Home Page</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/WDT.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://tap.state.nm.us/Tap/_/#1" target="_blank">New Mexico Taxation</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/OREGON.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.oregontruckingonline.com/cf/MCAD/metaEntry/index.cfm" target="_blank">Oregon Permit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/CA.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://www.dot.ca.gov/trafficops/permits/index.html" target="_blank">California Permit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FDOT.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://www.fdot.gov/" target="_blank">FDOT Home Page</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FDOTPERMIT.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://osp.fdot.gov/" target="_blank">Permits FDOT</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/PREPASS.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://prepass.com/" target="_blank">Prepass</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/SUNPASS.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.sunpass.com/" target="_blank">SunPass</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-status-top bg-yellow"></div>
                <div class="card-header">
                    <div class="card-title">Others</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter">
                            <tbody>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/IRS.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.irs.gov/spanish" target="_blank">IRS Home Page</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/IRS.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://sa.www4.irs.gov/modiein/individual/index.jsp" target="_blank">IRS New Application FEIN</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/NAIC.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://eapps.naic.org/cis/companySearch.do" target="_blank">Insurance NAIC</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/2290.PNG' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.greentax2290.com/Account/Login.aspx" target="_blank">Green Tax 2290</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/UPS.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.ups.com/one-to-one/login?loc=en_US&returnto=https%3A%2F%2Fwww.ups.com%2Fcontent%2Fus%2Fen%2Findex.jsx&USB=true" target="_blank">UPS Home Page</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/FEDEX.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="http://www.fedex.com/us/" target="_blank">Fedex Home Page</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/TEXAS.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://mycpa.cpa.state.tx.us/coa/" target="_blank">Texas Comptroller of Public Accounts</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/NewJersey.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.njportal.com/DOR/BusinessNameSearch/Search/Availability" target="_blank">New Jersey Business Name</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar avatar-sm" style="background-image: url({% static 'assets/img/logos/LeePALogo.png' %})"></span>
                                    </td>
                                    <td class="td-truncate">
                                        <a class="small-box-footer" href="https://www.leepa.org/Default.aspx" target="_blank">Lee County Property Appraiser</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}